
<mat-toolbar color="accent">
    Bookess
  
    <div class="space"></div>
  
      <a mat-button routerLink="/books">Books</a>
      <button (click)="logOut()" routerLink='' mat-raised-button color="primary">Log out</button>
  
  </mat-toolbar>
  
  
  
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Delete User
      </div>
    </div>
    <div class="form-container">
  
      <div class="form-inner">
        <form #formLogin='ngForm' (ngSubmit)="deleteUser(formLogin.value)" class="login">
          <div class="field">
            <input type="text" placeholder="Email Address" required name="email" #email='ngModel'
              [class.is-invalid]='email.invalid && email.touched' pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              ngModel>
          </div>
  
          <div *ngIf="email.touched">
            <div *ngIf="email.errors && (email.invalid)">
              <div class="col" *ngIf="email.errors?.['required']">
                Email is Required
              </div>
              <div class="col" *ngIf="email.errors?.['pattern']">
                This id not a valid Email
              </div>
            </div>
          </div>
  
          <button mat-raised-button color="accent" class="cent" type="submit">Delete User</button>

        </form>
      </div>
    </div>
  </div>