<mat-toolbar color="accent">
  Bookess

  <div class="space"></div>

    <a mat-button routerLink=''>Login</a>
    <a mat-button routerLink='/register'>Register</a>

</mat-toolbar>

<div class="book" *ngFor="let bok of listOfBooks">
  <mat-card >

    <img mat-card-image src="../../assets/images/1.jfif" >
    <mat-card-content>
      <h3 align="center"><Strong>Book Id : {{bok.book_id}}</Strong></h3><hr>
      <h3 align="center"><Strong>Book Name : {{bok.book_name}}</Strong></h3><hr>
      <h3 align="center"><Strong>Book Genre : {{bok.book_genre}}</Strong></h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="margin-left: 30px;" routerLink=''>Like</button>
    </mat-card-actions>

  </mat-card>
</div>


