<mat-toolbar color="accent">
    Bookess
  
    <div class="space"></div>
  
    <button mat-raised-button color="primary" (click)="logOut()" routerLink=''>Log Out</button>
  
  </mat-toolbar>

<div class="book" *ngFor="let user of listOfUsers">
    <mat-card >
      <mat-card-content>
        <h3 align="center"><Strong>User Id : {{user.email}}</Strong></h3><hr>
        <h3 align="center"><Strong>User Name : {{user.name}}</Strong></h3><hr>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-left: 30px;" (click)="deleteUser(user.email)" routerLink='/deleteuser'>Delete</button>
      </mat-card-actions>
  
    </mat-card>
</div>