
<mat-toolbar color="accent">
    Bookess
  
    <div class="space"></div>
  
      <a mat-button routerLink="/books">Books</a>
      <button (click)="logOut()" routerLink='' mat-raised-button color="primary">Log out</button>
  
  </mat-toolbar>


  <div class="book" *ngFor="let bok of listOfBooks">
    <mat-card >
  
      <img mat-card-image src="../../assets/images/1.jfif" >
      <mat-card-content>
        <h3 align="center">Book Id : <Strong>{{bok.bookId}}</Strong></h3><hr>
        <h3 align="center">Book Name : <Strong>{{bok.bookName}}</Strong></h3><hr>
        <h3 align="center">Book Genre : <Strong>{{bok.bookGenre}}</Strong></h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="!isLoggedIn()">Remove</button>
      </mat-card-actions>
  
    </mat-card>
  </div>