
<mat-toolbar color="accent">
    Bookess
  
    <div class="space"></div>
  
      <a mat-button routerLink="">Login</a>
      <a mat-button routerLink="/books">Books</a>
      <a (click)="logOut()" routerLink=''>Log out</a>
  
  </mat-toolbar>
  
  
  
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Add User
      </div>
    </div>
    <div class="form-container">
  
      <div class="form-inner">
        <form #formLogin='ngForm' (ngSubmit)="registerUser(formLogin.value)" class="login">
          <div class="field">
            <input type="text" placeholder="Email Address" required name="email" #email='ngModel'
              [class.is-invalid]='email.invalid && email.touched' pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              ngModel>
          </div>
  
          <div *ngIf="email.touched">
            <div *ngIf="email.errors && (email.invalid)">
              <div class="col" *ngIf="email.errors?.['required']">
                Email is Required
              </div>
              <div class="col" *ngIf="email.errors?.['pattern']">
                This id not a valid Email
              </div>
            </div>
          </div>
  
          <div class="field">
            <input type="text" placeholder="Enter Name" required name="name" #name='ngModel'
              [class.is-invalid]='name.invalid && name.touched' ngModel minlength="3">
          </div>
  
          <div *ngIf="name.touched">
            <div *ngIf="name.errors && (name.invalid)" class="col">
              Name is Required with atleast length 3
            </div>
          </div>
  
          <div class="field">
            <input type="password" placeholder="Password" required required #password='ngModel' minlength="6"
              [class.is-invalid]='password.invalid && password.touched' name="password" ngModel>
          </div>
  
  
          <div *ngIf="password.touched">
            <div *ngIf="password.errors && (password.invalid)" class="col">
                Password is Required
            </div>
          </div>

          <button mat-raised-button color="accent" class="cent" type="submit">Add User</button>

        </form>
      </div>
    </div>
  </div>