<mat-toolbar color="accent">
    Bookess

    <div class="space"></div>

    <mat-select placeholder="Book" [(ngModel)] = "selectedValue" name="food" *ngIf="isLoggedIn()" mat-button>

        <mat-option value="addbook" mat-button routerLink="/addbook">Add Book</mat-option>

    </mat-select>

    <mat-select placeholder="User" [(ngModel)] = "selectedValue" *ngIf="isLoggedIn()" mat-button>
        <mat-option value="adduser" mat-button routerLink="/adduser">Add User
        </mat-option>
        <mat-option value="deleteUser" mat-button routerLink="/deleteuser">Delete User</mat-option>
        
        <mat-option value="users" mat-button routerLink='/users'>Users
        </mat-option>
    </mat-select>

    <button mat-raised-button color="primary" (click)="logOut()" routerLink=''>Log Out</button>

</mat-toolbar>


<div class="book" *ngFor="let bok of listOfBooks">
    <mat-card >
  
      <img mat-card-image src="../../assets/images/1.jfif" >
      <mat-card-content>
        <h3 align="center">Book Id : <Strong>{{bok.bookId}}</Strong></h3><hr>
        <h3 align="center">Book Name : <Strong>{{bok.bookName}}</Strong></h3><hr>
        <h3 align="center">Book Genre : <Strong>{{bok.bookGenre}}</Strong></h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" *ngIf="!isLoggedIn()" (click)="likeBook(bok)">Like</button>
        <button mat-raised-button color="warn" *ngIf="isLoggedIn()" (click)="deleteBook(bok.bookId)">Delete</button>
      </mat-card-actions>
  
    </mat-card>
  </div>