.space{
    flex: 1 1 auto;
  }
.mat-select{
    width: 80px;
}
  li{
    list-style-type: none;
  }
  
  .book{
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: 20px;
    
  }
  
  /* .book > mat-card{
    width: 300px;
  } */
  .mat-card-actions{
    margin-left: 45px;
  }
  
  .mat-card{
    margin: 20px;
    border: 2px solid black;
  }