
<mat-toolbar color="accent">
    Bookess
  
    <div class="space"></div>
  
      <a mat-button routerLink="">Login</a>
      <a mat-button routerLink="/books">Books</a>
      <a (click)="logOut()" routerLink=''>Log out</a>
  
  </mat-toolbar>
  
  
  
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Add book
      </div>
    </div>
    <div class="form-container">
  
      <div class="form-inner">
        <form #formLogin='ngForm' (ngSubmit)="addBook(formLogin.value)" class="login">
          <div class="field">
            <input type="text" placeholder="Enter Book Id" required name="book" #book='ngModel'
              [class.is-invalid]='book.invalid && book.touched'
              ngModel>
            </div>
  
          <div *ngIf="book.touched">
            <div *ngIf="book.errors && (book.invalid)">
              <div class="col" *ngIf="book.errors?.['required']">
                Email is Required
              </div>
            </div>
          </div>
  
          <div class="field">
            <input type="text" placeholder="Enter Book Name" required name="name" #name='ngModel'
              [class.is-invalid]='name.invalid && name.touched' ngModel minlength="3">
          </div>
  
          <div *ngIf="name.touched">
            <div *ngIf="name.errors && (name.invalid)" class="col">
              Name is Required with atleast length 3
            </div>
          </div>
  
          <div class="field">
            <input type="text" placeholder="Password" required required #genre='ngModel' minlength="2"
              [class.is-invalid]='genre.invalid && genre.touched' name="genre" ngModel>
          </div>
  
  
          <div *ngIf="genre.touched">
            <div *ngIf="genre.errors && (genre.invalid)" class="col">
                Password is Required
            </div>
          </div>

          <button mat-raised-button color="accent" class="cent" type="submit">Add Book</button>

        </form>
      </div>
    </div>
  </div>